---
import Layout from "../layouts/Layout.astro"
import SectionTitle from "../components/sections/SectionTitle.astro"
import { AnimatedCard } from "../components/ui/AnimatedCard"
import { FloatingNav } from '../components/ui/floating-navbar';

const homeNavItems = [
  { name: "Inicio", link: "/" },
  { name: "Proyectos", link: "/projects" },
  { name: "Sobre mí", link: "/about" },
  { name: "Certificaciones", link: "/certifications" },
];

const certifications = [
    {
        provider: "Cisco",
        logo: "/logos/cisco_light.svg",
        title: "IT Essentials: PC Hardware and Software",
        date: "2023",
        providerName: "Cisco Networking Academy"
    },
    {
        provider: "Universidad Santo Tomás",
        logo: "/logos/st.webp",
        title: "Diseño Básico de Software",
        date: "2023",
        providerName: "Universidad Santo Tomás"
    },
    {
        provider: "Universidad Santo Tomás",
        logo: "/logos/st.webp",
        title: "Programación Básica",
        date: "2023",
        providerName: "Universidad Santo Tomás"
    },
    {
        provider: "Universidad Santo Tomás",
        logo: "/logos/st.webp",
        title: "Soporte Informático",
        date: "2023",
        providerName: "Universidad Santo Tomás"
    },
    {
        provider: "MongoDB",
        logo: "/icons/tech/mongodb.svg",
        title: "Getting Started with MongoDB Atlas",
        date: "2024",
        providerName: "MongoDB University"
    },
    {
        provider: "Alura Latam",
        logo: "/logos/alura.webp",
        title: "Desarrollo Personal G8 - ONE",
        date: "2025",
        providerName: "Alura Latam"
    },
    {
        provider: "Alura Latam",
        logo: "/logos/alura.webp",
        title: "Lógica de programación con JavaScript",
        date: "2025",
        providerName: "Alura Latam"
    },
    {
        provider: "Alura Latam",
        logo: "/logos/alura.webp",
        title: "Principiante en Programación G8 - ONE",
        date: "2025",
        providerName: "Alura Latam"
    },

];

const groupedCertifications = certifications.reduce((acc, cert) => {
    if (!acc[cert.provider]) {
        acc[cert.provider] = [];
    }
    acc[cert.provider].push(cert);
    return acc;
}, {});
---
<Layout title="Certificados - Gonzalo Leal">
    <FloatingNav 
    navItems={homeNavItems} 
    client:load
  />
    <section class="py-20">
        <div class="container mx-auto px-4">
            <SectionTitle title="Mis certificados" icon="/icons/titles/certificate.svg" />
            <AnimatedCard client:visible>
                {Object.keys(groupedCertifications).sort().map(provider => (
                    <div id={provider} class="mb-8">
                        <div class="flex items-center justify-center mb-4">
                            <div class="flex-grow border-t border-gray-300/20"></div>
                            <h2 class="text-2xl font-bold mx-4">{provider}</h2>
                            <div class="flex-grow border-t border-gray-300/20"></div>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-4xl mx-auto">
                            {groupedCertifications[provider].map(cert => (
                                <div class="flex gap-4 p-6 bg-white dark:bg-gray-800 rounded-xl shadow-lg hover:shadow-xl transition-all hover:scale-105">
                                    <div class="relative flex h-10 w-10 flex-none items-center justify-center rounded-lg">
                                        <img src={cert.logo} alt={cert.provider} class="h-full w-full rounded-md object-contain" />
                                    </div>
                                    <div class="flex flex-col gap-y-1">
                                        <div class="text-base font-semibold tracking-tight text-gray-900 dark:text-white">{cert.title}</div>
                                        <div class="text-pretty text-sm text- font-medium">
                                            <p class="dark:text-gray-400 text-gray-900">{cert.providerName}</p>
                                        </div>
                                        <div class="flex">
                                            <span class="inline-block px-2 py-0.5 mt-1 text-sm text-primary bg-primary/10 rounded-full">
                                                {cert.date}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            ))}
                        </div>
                    </div>
                ))}
            </AnimatedCard>
        </div>
    </section>
</Layout>